{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Idnumber</th>
                <th>Position</th>
                <th>Depertment</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.idnumber }}</td>
                {#  #}
                {% if user.getPositionId() %}
                <td>{{ user.getPositionId() }}</td>
                {% else %}
                <td>NULL</td>
                {% endif %}
                {#  #}
                {% if user.getDepartmentId() %}
                <td>{{ user.getDepartmentId() }}</td>
                {% else %}
                <td>NULL</td>
                {% endif %}
                {#  #}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
